/*=======[Kenzo]========*/
.web-detail-kenzo .intro-wrap  {
  background:url(../images/web/kenzo_bk.jpg)no-repeat top center;
}
.logo-kenzo {max-width:200px;}
@media (min-width:768px)  {
  .logo-kenzo {max-width:500px;}
}

/*=======[lucid]========*/
.web-detail-lucid .intro-wrap  {
  background:url(../images/web/lucid_bk.jpg)no-repeat bottom center;
}

.logo-lucid {
  max-width:50%;
  margin-top:38%;
}
@media (min-width:768px)  {
  .logo-lucid {
    max-width:30%;
    margin-top:10%;
  }
}

/*=======[Daewoo]========*/
.web-detail-daewoo .intro-wrap  {
  background:url(../images/web/m_daewoo_bk.jpg)no-repeat top center;
}
.logo-Daewoo {
  max-width:25%;
}
@media (min-width:768px)  {
  .web-detail-daewoo .intro-wrap  {
    background:url(../images/web/daewoo_bk.jpg)no-repeat top center;
  }
  .logo-Daewoo {
    max-width:210px;
  }
}
.daewoo-wrap .wrapper img  {width:auto;}


/*==================
      Commons
===================*/
.web-detail .intro-wrap  {
  height:100vh;
  background-size:cover;
  background-attachment:fixed;
  text-align:center;
}
.logo-web, .txt-web, .text-container ul, .btn-web ul {display:inline-block;}

.logo-web img {width:100%;}

.web-wrap {
  height:100vh;
  color:#000;
  text-align:center;
  background-color:#fff;
  margin-bottom:2.0rem;
}
.txt-web  {max-width:90%;}
.text-tit {font-size:5.5rem;}
@media (min-width:768px)  {
  .text-tit {font-size:7.5rem;}
}
.text-tit p {letter-spacing:-0.2rem;}
.text-container  {
  max-width:450px;
  font-size:18px;
  margin:0 auto;
}

.text-container li  { 
  float:left;
  margin:7.0rem 2.0rem 3.0rem 2.0rem;
  font-size:1.6rem;
  border-bottom:2px solid #000;
}
.text-container p {
  line-height:28px;
  margin-bottom:7.0rem;
}
.web-img-tit p  {
  color:#fff;
  font-size:3.0rem;
  margin:120px 0 30px 0;
}

.btn-web li:nth-child(2) {margin-left:2.0rem;}
.btn-web li  {
  float:left;
  font-size:1.6rem;
  border:1px solid #000;
}
.btn-web li a {
  font-weight:600;
  padding:1.5rem 2.5rem;
  -webkit- transition:all .3s;
  -moz-    transition:all .3s;
  -o-      transition:all .3s;
           transition:all .3s;
}
.btn-web li a:hover {
  background-color:#000;
  color:#fff;
  -webkit- transition:all .3s;
  -moz-    transition:all .3s;
  -o-      transition:all .3s;
           transition:all .3s;
}
/*=== FadeIn Effect ===*/
.fade-1 {display:none;}
.fade-2 {opacity:0;}







